html,
body {
  height: 100%;
  width: 100%;
  margin: 0;
  padding: 0;
}
/* .App {
  text-align: center;
  position: relative;
  height: 100vh;
  width: 100vw;
  overflow: hidden;
}

.App::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-image: url('./bg_img.png');
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  filter: blur(8px);
  z-index: -1;
}  */

.img {
  width: 250px;
  height: auto;
  object-fit: contain;
}

.card {
  border-radius: 15px;
}